@charset "UTF-8";

.div_buttons {
	border: 1px solid; 
	width: 90%;
	margin: 10px auto;
/* 		margin-left: 100px;  */
/* 		margin-right: 100px;  */
/* 		margin-top: 30px; */
}

.div_title {
	border: 1px solid; 
	width: 90%;
	height: 40px;
	margin: 10px auto;
/* 		margin-left: 100px;  */
/* 		margin-right: 100px;  */
/* 		margin-top: 30px; */
}

.main_div {
/* 		margin-left: 100px; */
/* 		margin-right: 100px; */
/* 		margin-top:10px; */
	width: 90%;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.div_map {
	height:870px;
	padding:10px;
	flex-shrink: 3;
/* 		float:left; */
	flex:1;
	border: 1px solid #ddd;
}

/*tab css*/
.tab{
	height:890px;
	flex:1;
	border: 1px solid #ddd;
}

.tabnav{
	font-size:0; 
	width:100%; 
	border:1px solid #ddd;
	margin:0; 
	padding:0;
	white-space: nowrap;
}

.tabnav li{
	display: inline-block;  
	height:46px; 
	text-align:center; 
	border-right:1px solid #ddd;
	margin:0;
	padding:0;
}

.tabnav li a:before{
	content:""; 
	position:absolute; 
	left:0; 
	top:0px; 
	width:100%; 
	height:3px; 
}

.tabnav li a.active:before{
	background:#7ea21e;
}

.tabnav li a.active{
	border-bottom:1px solid #fff;
}

.tabnav li a{
	position:relative; 
	display:block; 
	background: #f8f8f8; 
	color: #000; 
	padding:0 30px; 
	line-height:46px; 
	text-decoration:none; 
	font-size:16px;
}

.tabnav li a:hover,

.tabnav li a.active{
	background:#fff; 
	color:#7ea21e; 
}

.table_set{
	width:100%;
	height: 770px;
	border:1px solid #ddd; 
	border-top:none;
}

#tabcontent{
	width:100%;
	height: 90%;
   	border: 1px solid #ddd;
}

.tDnD_whileDrag, table.tablednd tbody tr:hover {  
       background-color: #eee;
   } 

   .contents_table {
   	margin: 20px;
   	width:95%;
   	border: 1px solid #ddd;
   }
   
   .jjim_table {
   	height:870px;
	padding:10px;
	flex-shrink: 1;
	margin: 0px 1%;
	border: 1px solid #ddd;
	flex:1;
   }
      
   .jjim_list{
   	width: 100%;
   	height: 800px;
   	border: 1px solid #ddd;
   }
   
   .jjim_foot_button{
   	width: 100%;
     	height: 30px;
   	border: 1px solid #ddd;
   	margin-top: 20px;
   }