<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- DB설정(Connection) -->
   <typeAliases>
<!-- 		<typeAlias type="com.bit.boarding.dao.ReportBoradMemberBean" alias="memBean"/> -->
		<typeAlias type="com.bit.web.controller.MusicalBean" alias="MusicalBean"/>
		<typeAlias type="com.bit.web.controller.MusicalBean2" alias="MusicalBean2"/>
		<typeAlias type="com.bit.web.controller.MusicalBean3" alias="MusicalBean3"/>
		<typeAlias type="com.bit.web.controller.MusicalBean4" alias="MusicalBean4"/>
   </typeAliases>
   <mappers>
<!-- 	<mapper resource="com/bit/boarding/dao/member-mapper.xml"/> -->
	<mapper resource="com/bit/web/controller/musical-mapper.xml"/> 
    </mappers> 
</configuration>






