<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- DB설정(Connection) -->
<configuration>
	<typeAliases>
		<typeAlias type="com.bit.web.vo.MypageJjimBean" alias="mypageJjim"/>
		<typeAlias type="com.bit.web.vo.MainDbBean" alias="mainDb"/>
		<typeAlias type="com.bit.web.vo.MusicalBean" alias="MusicalBean"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/bit/web/dao/project-mapper.xml"/>
		<mapper resource="com/bit/web/dao/Join-mapper.xml"/>
		<mapper resource="com/bit/web/dao/helloSeoul-mapper.xml"/>
		<mapper resource="com/bit/web/dao/ctg-mapper.xml"/>
		<mapper resource="com/bit/web/dao/musical-mapper.xml"/>
	</mappers>

</configuration>
