@charset "UTF-8";

div{
/* 	border: solid 1px; */
}
a{
	color : black;
	text-decoration: none;
	
}
#mainheading > div{
	margin-top : 20px;
	margin-bottom : 50px;
	margin-left : 20px;
	float : left;
	width : 100px;
	height : 100px;
	background-color: pink;
}

/*헤더 전체*/
#mainheading{
	width : 100%;
	height: 150px;
	background-color: gray;
}
#logo{
	width: 100px;
	height: 100px; 
}
div #home{
	width : 200px;
}
#homea{
/* 	margin-top : 10px; */
	margin-left : 20px;
	float : left;
/* 	border : solid; */
	text-align: center;
	font-size: 20px;
}
div #menubar{
	width : 1100px;
}
#menubar > div{
	margin-left : 130px;
	float:left;
}
#menubar>div>div{
	visibility: hidden;
}

div>a{
	text-decoration: none;
}
div #controlbutton{
	margin-top : 0px;
	width : 300px;
	float : right;
}
#controlbutton>div{
	margin-top : 10px;
	margin-right : 30px;
	float:right;
}
#controlbutton a{
	font-style : italic;
	font-size: 20px;
}