@charset "UTF-8";

div{
/* 	border: solid 1px; */
}
#mainheading h2{
	font-weight: bold;
}

#mainheading a{
	font-size : 20px;
	color :	black;
	text-decoration: none;
	
}
#mainheading > div{
	margin-top : 20px;
	margin-bottom : 50px;
	margin-left : 20px;
	float : left;
	width : 100px;
	height : 100px;
	/* background-color: pink; */
}

/*헤더 전체*/
#mainheading{
<<<<<<< HEAD
	width : 1900px;
=======
	width : 1950px;
>>>>>>> branch 'subMain' of https://github.com/chungsuhyeon/project.git
	height: 150px;
	background-image: url("/web/resources/helloseoul/img/headerimg.jpg");
}
div > #logosector{
	margin : 0px;
	padding-left : 20px;
	padding-top : 20px;
	width : 210px;
	height: 150px;
}

#logo{
	width: 200px;
	height: 100px; 
}
div #menubar{
	width : 1300px;
}
#menubar > div{
	margin-left : 100px;
	float:left;
}
#menubar>div>div{
	visibility: hidden;
}

div>a{
	text-decoration: none;
}
div #controlbutton{
	margin-top : 0px;
	width : 300px;
	float : right;
}
#controlbutton>div{
	margin-top : 10px;
	margin-right : 30px;
	float:right;
}
#controlbutton a{
/* 	font-style : italic; */
	font-size: 20px;
}